body {
  margin: 0;
  font-family: nunitosans-semibold, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  /* overflow: hidden; */
}

input {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

input { outline: none; }

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.disable-double-tap {
  touch-action: none;
}

.bg-light {
  background-color: white;
}

.bg-dark {
  background-color: #23272A;
}

.bg-brand {
  background-color: rgb(0,70,31);
}

.bg-grey {
  background-color: #99aab5;
}

.text-light {
  color: white;
}

.bg-paid {
  background-color: #E84855;
}

.bg-none {
  background-color: transparent;
}

.box-shadow {
  box-shadow: 
  0 0 30px 20px #fff, 
  0 0 60px 10px rgba(232,72,85,0.5);
}

.background-transition {
  transition-property: background-color;
  transition-duration: 0.5s;
}

.opacity-transition {
  opacity: 0;
  transition-duration: 0.5s;
}

.opacity-1{
  opacity: 1;
}

@font-face {
  font-family: 'varela-round';
  src: local('varela-round'), url(./components/fonts/VarelaRound-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'nunito-regular';
  src: local('nunito-regular'), url(./components/fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'nunito-bold';
  src: local('nunito-bold'), url(./components/fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'nunito-semibold';
  src: local('nunito-semibold'), url(./components/fonts/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'nunito-light';
  src: local('nunito-light'), url(./components/fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'nunitosans-regular';
  src: local('nunitosans-regular'), url(./components/fonts/NunitoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'nunitosans-bold';
  src: local('nunitosans-bold'), url(./components/fonts/NunitoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'nunitosans-semibold';
  src: local('nunitosans-semibold'), url(./components/fonts/NunitoSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'nunitosans-light';
  src: local('nunitosans-light'), url(./components/fonts/NunitoSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: MaterialCommunityIcons;
  font-style: normal;
  font-weight: 400;
  src: url(./components/fonts/MaterialCommunityIcons.ttf) format('truetype');
}

@font-face {
  font-family: Ionicons;
  font-style: normal;
  font-weight: 400;
  src: url(./components/fonts/Ionicons.ttf) format('truetype');
}

@font-face {
  font-family: AntDesign;
  font-style: normal;
  font-weight: 400;
  src: url(./components/fonts/AntDesign.ttf) format('truetype');
}

@font-face {
  font-family: Feather;
  font-style: normal;
  font-weight: 400;
  src: url(./components/fonts/Feather.ttf) format('truetype')
}

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  src: url(./components/fonts/FontAwesome.ttf) format('truetype')
}
